
@{
    ViewData["Title"] = "Oku";
}

@model MakaleViewModel
<div class="row mb-1">
    <h1>@Model.Baslik - @ViewBag.Yazar</h1>
    <h5>@Model.OkunmaSayisi</h5>
</div>
<div class="row mb-5">
</div>
<div class="row">
    <p>@Model.İcerik</p>
</div>



